body {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scoring {
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	letter-spacing: 1px;
	width: 505px;
	margin-bottom: -40px;
}

.modal {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	align-self: center;
	width: 400px;
	height: 250px;
	border: 2px solid rgb(0, 0, 0);
	background-color: rgba(109, 123, 214, 0.8);
	color: rgb(235, 239, 243);
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	top: 0;
	bottom: 300px;
	margin: auto;
	letter-spacing: 2px;
}

.gameOver:focus, .winScreen:focus {
	border: 5px solid rgb(193, 218, 240);
	/* outline: 4px solid rgb(193, 218, 240); */
}

.instructions {
	font-size: 22px;
}

.modal-hide {
	display: none;
}